<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tag</key>
		<real>10038</real>
		<key>group</key>
		<string>ページ : </string>
		<key>title</key>
		<string>Dashboard で開く...</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>10025</integer>
		<key>title</key>
		<string>ページを再読み込み</string>
	</dict>
	<dict>
		<key>tag</key>
		<real>10026</real>
		<key>title</key>
		<string>ページのソースを表示</string>
	</dict>
	<dict>
		<key>tag</key>
		<real>10028</real>
		<key>title</key>
		<string>ページを別名で保存...</string>
	</dict>
	<dict>
		<key>tag</key>
		<real>10032</real>
		<key>title</key>
		<string>ページをプリント...</string>
	</dict>
	<dict>
		<key>tag</key>
		<real>2024</real>
		<key>title</key>
		<string>要素の詳細を表示</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>22</integer>
		<key>group</key>
		<string>テキスト : </string>
		<key>title</key>
		<string>“選択文字列”を調べる</string>
	</dict>
	<dict>
		<key>tag</key>
		<real>10023</real>
		<key>title</key>
		<string>Google で検索</string>
	</dict>
	<dict>
		<key>tag</key>
		<integer>2</integer>
		<key>group</key>
		<string>リンク : </string>
		<key>title</key>
		<string>リンク先のファイルをダウンロード</string>
	</dict>
	<dict>
		<key>tag</key>
		<real>10007</real>
		<key>title</key>
		<string>リンク先のファイルを別名でダウンロード...</string>
	</dict>
	<dict>
		<key>tag</key>
		<real>10009</real>
		<key>title</key>
		<string>リンクをブックマークに追加...</string>
	</dict>
	<dict>
		<key>tag</key>
		<real>10039</real>
		<key>title</key>
		<string>リンクをリーディングリストに追加</string>
	</dict>
	<dict>
		<key>tag</key>
		<real>10011</real>
		<key>group</key>
		<string>イメージ : </string>
		<key>title</key>
		<string>イメージを“Downloads”に保存</string>
	</dict>
	<dict>
		<key>tag</key>
		<real>10012</real>
		<key>title</key>
		<string>イメージを別名で保存...</string>
	</dict>
	<dict>
		<key>tag</key>
		<real>10020</real>
		<key>title</key>
		<string>イメージを&quot;写真&quot;に追加</string>
	</dict>
	<dict>
		<key>tag</key>
		<real>10021</real>
		<key>title</key>
		<string>イメージをデスクトップピクチャとして使用</string>
	</dict>
</array>
</plist>
